# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
def my_function():
    print("Hello World!")
    
my_function() # calling the function name to get output.

Hello World!

In [3]:
def my_otherfunction():
    print(8*2)
#running it now gives no result
my_otherfunction()

16

### Why we need function?

In [5]:
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

In [10]:
def address():
    print("2001 Newburg Road")

address()
address()
address()
address()
address()
# a bit simpler than above, although can be even more simplified with loop

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [12]:
def squared(number):
    return (number**2)
squared(3)

9

In [14]:
def cubed(number):
    return(number**3)
cubed(3)

27

## Our own functions for practice
`Echo` that will act same as print

In [21]:
def echo(data):
    return(data)
echo(1)

1

In [22]:
echo("Happy Birthday!")

'Happy Birthday!'

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [45]:
def favorite_book(title):
    print("One of my favorite books is",title+'.')
    #comma adds a space, plus does not
favorite_book("Manatee Blues")

One of my favorite books is Manatee Blues.

In [44]:
#way to do it with return instead of print
def favorite_book1(title):
    message="One of my favorite books is "+title+'.'
    return(message)
favorite_book1("The Hunger Games")

'One of my favorite books is The Hunger Games.'

In [30]:
favorite_book("Wheels of Life")

One of my favorite books is Wheels of Life.

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [47]:
def calc_MPG(miles, gallons):
    return(miles/gallons)
calc_MPG(100,4)

25.0

In [48]:
calc_MPG(200,25)

8.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [3]:
def calc_MPG(miles=200,gallons=12):
    return(miles/gallons)
calc_MPG()
#run with empty parentheses is run with default value

16.666666666666668

In [4]:
calc_MPG(400,12)
#

33.333333333333336

In [67]:
calc_MPG(gallons=15)

13.333333333333334

###  Function repeat using `for` loop

In [68]:
def repeat_echo(data,count):
    for i in range(count):
        print(data)

In [69]:
repeat_echo("2001 Newburg Road",5)
#more efficient than other two methods above!

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

## Practice: Define a function called `name` and print your name 20 times using the function

In [70]:
def name(data,count):
    for i in range(count):
        print(data)
name("Tess",20)

Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess
Tess

### Write a function to find maximum of three values

In [5]:
max(23,56,78)

78

In [7]:
def maximum(a,b,c):
    if a>b and a>c:
        largest=a
    elif b>c:
        largest=b
    else:
        largest=c
    return largest
maximum(22,47,10)

47

In [8]:
maximum(100,92,-65)

100

### Practice Example: Define `minimum` function of three values

In [9]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a
    elif b<c:
        smallest=b
    else:
        smallest=c
    return smallest
minimum(2,7,-1)

-1

In [11]:
minimum(75,-42,0)

-42

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [12]:
def addition(*args):
    return sum(args)
addition(10,23,45,67)

145

In [13]:
addition(5,6,8,12,403,52,61,77,4,3,13,61)

705

In [18]:
#mean/average of numbers
def get_mean(*args):
    return sum(args)/len(args)
get_mean(100,80,96)

92.0

In [16]:
get_mean(95,81,92,95,96,97,100,93,100,98)

94.7

### Arbitary Argumented list with list

In [21]:
numbers=[34,56,78,99]
get_mean(numbers)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [22]:
get_mean(*numbers)

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [23]:
# x is a global variable with value 10
x=10
# now creating a function
def scope_of_function(num):
    # num is a local variable
    return num/2 
scope_of_function(20)

10.0

In [26]:
x
# x is a global variable

10

In [27]:
num
# num was created within the function, used in the function, returned to the function.
# num is LOCAL - not defined outside of the function

NameError: name 'num' is not defined

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [29]:
x=10 # global
def try_to_modify_global():
    x=3.5
    print(x)
try_to_modify_global()
# within the function, x is local and function prints local x
# the function simply prints x with updated value in the block of the function, it does not change global x

3.5

In [30]:
x
# x hasnt been changed

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [32]:
x=10
def modify_global():
    global x
    x=3.5
    print(x)
modify_global()

3.5

In [33]:
x

3.5

## Write functions to find out Area and Perimeter of circle

In [34]:
from math import pi
pi

3.141592653589793

In [39]:
def area_circle(r):
    return pi*(r**2)
def peri_circle(r):
    return 2*pi*r
radius=int(input("Enter the circle's radius: "))
print("The area of the circle is:",round(area_circle(radius)),'.'"\nThe perimenter of the circle is:",round(peri_circle(radius)),'.')

Enter the circle's radius: 7
The area of the circle is: 154 .
The perimenter of the circle is: 44 .

## Write functions to find out Area and Perimeter of rectangle

In [73]:
def rect_area(l,w):
    return l*w
def rect_peri(l,w):
    return l+l+w+w
lprompt="Enter the rectangle's length. "
length=int(input(lprompt))
wprompt="Enter the rectangle's width. "
width=int(input(wprompt))

print("\nThe area of the rectangle is:",rect_area(length,width))
print("The perimeter of the rectangle is:",rect_peri(length,width))

Enter the rectangle's length. 7
Enter the rectangle's width. 4

The area of the rectangle is: 28
The perimeter of the rectangle is: 22

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [51]:
import random
x=random.randrange(10,20)
x

18

In [60]:
# filling an empty list with random numbers
list=[]
for i in range(10): # tells it to generate 10 numbers
    x=random.randrange(1,20) # 10 random numbers selected from 1-19(included)
    list.append(x)
    print(x) # shows the process of the for loop

18
1
3
4
18
5
14
18
1
10

In [61]:
print(list) # shows the final outcome of the for loop

[18, 1, 3, 4, 18, 5, 14, 18, 1, 10]

## Print 20 numbers in the range of 30 to 50

In [59]:
randomlist=[]
for i in range(20):
    t=random.randrange(30,51)
    list.append(t)
print(list)

[11, 15, 13, 6, 4, 3, 10, 3, 18, 9, 49, 41, 48, 39, 46, 41, 38, 31, 30, 47, 32, 40, 49, 41, 33, 40, 37, 47, 35, 46, 43, 37, 49, 46, 41, 44, 31, 47, 47, 31, 40, 43, 43, 30, 32, 49, 49, 48, 41, 31]

### Guess the number between 1 to 10

In [64]:
import random
number=random.randint(1,10) # 10 is included for randint, but not randrange
entered_number=None
time=0

while entered_number!=number:
    entered_number=int(input("Try your luck! Guess a number 1 to 10..."))
    if entered_number==number:
        print("You won!","You took", time,"chances.")
    else:
        print("That's not it! Try again.")
        time+=1

Try your luck! Guess a number 1 to 10...5
That's not it! Try again.
Try your luck! Guess a number 1 to 10...2
You won! You took 1 chances.

In [65]:
import random
number=random.randint(1,10) # 10 is included for randint, but not randrange
entered_number=None
time=0

while entered_number!=number:
    entered_number=int(input("Try your luck! Guess a number 1 to 10..."))
    if entered_number==number:
        print("You won!","You took", time,"chances.")
    else:
        print("That's not it! Try again.")
        time+=1

Try your luck! Guess a number 1 to 10...25
That's not it! Try again.
Try your luck! Guess a number 1 to 10...2
That's not it! Try again.
Try your luck! Guess a number 1 to 10...3
That's not it! Try again.
Try your luck! Guess a number 1 to 10...4
You won! You took 3 chances.